.wrapper {
    padding: 5px 20px;
    min-width: 100px;
    min-height: 50px;
    margin: 8px 10px;
    border-radius: 10px;
    border: solid 1px gray;
    color: black;
}
.wrapper:hover {
    cursor: pointer;
    background-color:chartreuse;
    color: aliceblue;
}

.title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.sub {
    font-size: 15px;
    text-align: right;
    color: white;
}