.main {
    max-width: 175vh;
    margin: 20px 20px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .flexRow {
        flex-direction: column;
    }
}
.flexColumn {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.inlineBlock {
    display: inline-block;
}
