.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:ghostwhite;
}
.header {
    height: 80px;
    background-color: limegreen;
    color: aliceblue;
}

.footer {
    min-height: 100px;
    background-color: dimgrey;
    color: aliceblue;
}
