.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:ghostwhite;
}
.header {
    height: 70px;
    background-color: limegreen;
    color: aliceblue;
}

.headBox {
    display: flex;
    font-family: 'Train One', cursive;
    flex-direction: row;
    align-items: baseline;
}

.headTitle {
    display: inline-block;
    font-size: 50px;
    padding: 0 20px;
    margin: 0;
    letter-spacing: 4px;
}

.headSub {
    display: inline-block;
    letter-spacing: 2px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    font-family: 'Train One', cursive;
    background-color: dimgrey;
    color: aliceblue;
}
.footTitle {
    text-align: center;
    padding: 10px 0;
    letter-spacing: 4px;
}

.footSub {
    text-align: center;
    font-size: 10px;
    letter-spacing: 2px;
}

.footerNewsBox {
    width: 100%;
    max-width: 600px;
    padding: 15px 20px;
    box-sizing: border-box;
}

.footerNewsTitle {
    text-align: center;
    padding-bottom: 10px;
    font-size: 14px;
    letter-spacing: 2px;
}

.footerLinkBox {
    padding: 15px 0;
    text-align: center;
    font-family: sans-serif;
}
.footerLink {
    font-size: 10px;
}
