.tapScreen {
    position: fixed;
    height: 110vh;
    width: 100vw;
}

.containerWrapper {
    position: relative;
    top:  20vh;
}

@media screen and (max-width: 768px) {
    .containerWrapper {
        top: 40vh;
    }
}